:host {
    display: flex;
    align-items: center;
    background-color: #2D2727;
    padding: 0 21.5px;
    height: 70px;

    .logo {
        font-size: xx-large;
        font-weight: 900;
        color: #F6F1F1;
    }
}