:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D2727;
    padding: 0 30px;
    height: 70px;

    .logo {
        font-family: montserratAltLight;
        font-size: xx-large;
        letter-spacing: 5px;
        transition: letter-spacing 0.5s;

        &:hover {
            cursor: pointer;
            letter-spacing: 8px;
            transition: letter-spacing 0.7s;
        }

        .sale {
            color: #CCCCCC;
        }

        .seeker {
            color: #FFD740
        }
    }

    .navigation {
        a {
            margin: 0 5px;
            border-color: #F6F1F1;
            color: #F6F1F1;
            width: 150px;

            &.active {
                border-color: #FFD740;
                color: #FFD740;
            }
        }
    }
}