<div class="gender">
    <div class="male">
        <button mat-flat-button routerLink="/male"> Muška kolekcija </button>
    </div>
    <div class="female">
        <button mat-flat-button routerLink="/female"> Ženska kolekcija </button>
    </div>
</div>
<div class="see-top-ten">
    <span> Pogledaj proizvode sa najvećim popustom </span>
    <mat-icon (click)="scrollToTopTenProducts()">keyboard_arrow_down</mat-icon>
</div>
<div class="home-page" id="top-ten-products">
    <app-top-ten-products></app-top-ten-products>
</div>
