<app-loading *ngIf="isLoading"></app-loading>

<div class="filters" *ngIf="filtersForm">
    <mat-form-field>
        <mat-label>Sortiranje</mat-label>
        <mat-select>
            <mat-option *ngFor="let option of sortingOptions" [value]="option" (click)="handleSortChange(option)">{{ option }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>Filteri</span>
                    <mat-icon>filter_list</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <form (ngSubmit)="applyFilters()" [formGroup]="filtersForm">
                <div class="search-by-name-filter">
                    <h4>Ime proizvoda:</h4>
                    <mat-form-field>
                        <mat-label>Unesite ime prozivoda</mat-label>
                        <input matInput type="text" formControlName="searchTerm">
                    </mat-form-field>
                </div>
                <div formGroupName="category">
                    <div class="checkbox-filters__header">
                        <h4>Odaberi kategoriju:</h4>
                        <mat-checkbox [checked]="true"
                                      (change)="handleSelectAllChange($event, 'CATEGORIES')"
                                      color="primary">
                            Odaberi sve kategorije
                        </mat-checkbox>
                    </div>
                    <div class="checkbox-filters__body">
                        <mat-checkbox *ngFor="let category of allCategories" formControlName="{{ category }}">{{ category | stringConverter }}</mat-checkbox>
                    </div>
                </div>
                <div formGroupName="brand">
                    <div class="checkbox-filters__header">
                        <h4>Odaberi brend:</h4>
                        <mat-checkbox [checked]="true" 
                                      (change)="handleSelectAllChange($event, 'BRANDS')" 
                                      color="primary">
                            Odaberi sve brendove
                        </mat-checkbox>
                    </div>
                    <div  class="checkbox-filters__body">
                        <mat-checkbox *ngFor="let brand of allBrands" formControlName="{{ brand }}">{{ brand | stringConverter }}</mat-checkbox>
                    </div>
                </div>
                <div formGroupName="shop">
                    <div class="checkbox-filters__header">
                        <h4>Odaberi prodavnicu:</h4>
                        <mat-checkbox [checked]="true" 
                                      (change)="handleSelectAllChange($event, 'SHOPS')" 
                                      color="primary">
                            Odaberi sve prodavnice
                        </mat-checkbox>
                    </div>
                    <div class="checkbox-filters__body">
                        <mat-checkbox *ngFor="let shop of allShops" formControlName="{{ shop }}">{{ shop | stringConverter }}</mat-checkbox>
                    </div>
                </div>
                <div class="range-filters">
                    <div formGroupName="discount">
                        <h4>Opseg popusta:</h4>
                        <mat-form-field>
                            <mat-label>Minimalni popust</mat-label>
                            <input matInput type="number" formControlName="minDiscount">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Maksimalni popust</mat-label>
                            <input matInput type="number" formControlName="maxDiscount">
                        </mat-form-field>
                    </div>
                    <div formGroupName="price">
                        <h4>Opseg cene:</h4>
                        <mat-form-field>
                            <mat-label>Minimalna cena</mat-label>
                            <input matInput type="number" formControlName="minPrice">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Maksimalna cena</mat-label>
                            <input matInput type="number" formControlName="maxPrice">
                        </mat-form-field>
                    </div>
                    <div formGroupName="save">
                        <h4>Opseg uštede:</h4>
                        <mat-form-field>
                            <mat-label>Minimalna ušteda</mat-label>
                            <input matInput type="number" formControlName="minSave">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Maksimalna ušteda</mat-label>
                            <input matInput type="number" formControlName="maxSave">
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button type="submit" color="accent">Filtriraj pretragu</button>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="product-counter">
        <strong>{{ filteredProductsCount }}</strong>/{{ allProductsCount }} proizvoda prikazano
    </div>
</div>

<ng-container *ngIf="filteredProducts">
    <mat-paginator [length]="filteredProducts.length"
                   [pageSize]="60"
                   [showFirstLastButtons]="true"
                   [hidePageSize]="true"
                   (page)="handlePageChange($event)">
    </mat-paginator>

    <div class="products" *ngIf="filteredProducts.length > 0; else noProductsMessage" id="products-or-empty">
        <app-product *ngFor="let product of chunkOfProducts"
                     [product]="product"></app-product>
    </div>
    
    <ng-template #noProductsMessage>
        <div class="empty-state" id="products-or-empty">
            <mat-icon>block</mat-icon>
            <h2>Nema proizvoda za odabrane filtere</h2>
        </div>
    </ng-template>
</ng-container>

<button mat-fab class="comparison-button" *ngIf="!comparisonEmpty" (click)="openComparisonDialog()"> <mat-icon>compare</mat-icon> {{ productForComparisonLength }} </button>