@import '../../../styles.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @include for-desktop-small {
            flex-direction: column;
        }

        mat-expansion-panel {
            width: 800px;

            @include for-tablet {
                width: 80vw;
            }

            mat-expansion-panel-header {
                background-color: #FFD740;

                mat-panel-title {
                    justify-content: space-between;
    
                    mat-icon {
                        color: #2D2727;
                    }
                }
            }

            .search-by-name-filter {
                padding-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h4 {
                    width: 150px;
                }

                mat-form-field {
                    width: calc(100% - 180px);
                }

                @include for-phone {
                    align-items: flex-start;
                    flex-direction: column;

                    mat-form-field {
                        width: 100%;
                    }
                }
            }

            .checkbox-filters {
                &__header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                }
                
                &__body {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    gap: 20px;

                    @include for-tablet {
                        grid-template-columns: repeat(4, 1fr);
                    }

                    @include for-phone {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }

            .range-filters {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;

                mat-form-field {
                    width: 100%;
                }

                @include for-tablet {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include for-tablet {
                    grid-template-columns: 1fr;
                }
            }

            button {
                display: block;
                margin: auto;
                width: 200px;
            }
        }

        .product-counter {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
        }
    }
    
    .products {
        display: grid;
        grid-template-columns: repeat(5, 270px);
        gap: 30px;
        padding: 20px 0;

        @include for-desktop-normal {
            grid-template-columns: repeat(4, 270px);
        }

        @include for-desktop-small {
            grid-template-columns: repeat(3, 270px);
        }

        @include for-tablet {
            grid-template-columns: repeat(2, 270px);
        }

        @include for-phone {
            grid-template-columns: 270px;
        }
    }

    .empty-state {
        color: #AA0000;

        mat-icon {
            margin: auto;
            display: block;
            height: 50px;
            width: 50px;
            font-size: 50px;
            line-height: 50px;
        }
    }

    .comparison-button {
        position: fixed;
        bottom: 40px;
        left: 40px;
        z-index: 20;
    }
}