:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    .filters {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;

        mat-expansion-panel {
            width: 800px;

            mat-expansion-panel-header {
                background-color: #FFD740;

                mat-panel-title {
                    justify-content: space-between;
    
                    mat-icon {
                        color: #2D2727;
                    }
                }
            }

            .search-by-name-filter {
                padding-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h4 {
                    width: 150px;
                }

                mat-form-field {
                    width: calc(100% - 180px);
                }
            }

            .checkbox-filters {
                &__header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                
                &__body {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    gap: 20px;
                }
            }

            .range-filters {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;

                mat-form-field {
                    width: 100%;
                }
            }

            button {
                display: block;
                margin: auto;
                width: 200px;
            }
        }

        .product-counter {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
        }
    }
    
    .products {
        display: grid;
        grid-template-columns: repeat(5, 270px);
        gap: 30px;
        padding: 20px 0;
    }

    .empty-state {
        color: #AA0000;

        mat-icon {
            margin: auto;
            display: block;
            height: 50px;
            width: 50px;
            font-size: 50px;
            line-height: 50px;
        }
    }
}