<div class="section-left">
    <hr>
    <div>Naziv proizvoda:</div>
    <hr>
    <div>Stara cena:</div>
    <hr>
    <div>Nova cena:</div>
    <hr>
    <div>Ušteda:</div>
    <hr>
    <div>Popust:</div>
    <hr>
</div>
<div *ngFor="let product of productsForComparison">
    <button mat-mini-fab color="accent" class="delete-btn" (click)="removeProductFromComparison(product)"> <mat-icon>delete_outline</mat-icon> </button>
    <img src="{{ shopImageUrl(product) }}" class="shop-image">
    <img src="{{ productImageUrl(product) }}" class="product-image">
    <a mat-raised-button color="accent" class="btn" href="{{ product.url }}" target="_blank">
        <span>Pogledaj proizvod</span>
        <mat-icon>open_in_new</mat-icon>
    </a>
    <hr>
    <div>{{ product.name }}</div>
    <hr>
    <div [ngClass]="product.oldPrice === minOldPrice ? 'background-yellow' : ''">{{ product.oldPrice | priceRsd }}</div>
    <hr>
    <div [ngClass]="product.price === minPrice ? 'background-yellow' : ''">{{ product.price | priceRsd }}</div>
    <hr>
    <div [ngClass]="save(product) === maxSave ? 'background-yellow' : ''">{{ save(product) | priceRsd }}</div>
    <hr>
    <div [ngClass]="product.discount === maxDiscount ? 'background-yellow' : ''">{{ product.discount | percentageDiscount }}</div>
    <hr>
</div>
