:host {
    padding: 0px 20px;

    ::ng-deep .mat-chip-list-wrapper {
        padding-bottom: 20px;
    }

    mat-chip {
        cursor: pointer;
        
        &.selected {
            background-color: #FFD740;
        }
    }
}